# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Reports (optional Foundry output)
reports/

# Docs
docs/

# Env files (never commit real secrets)
.env*
!.env.example

# === OS and Misc
.DS_Store
Thumbs.db

# === Editor
.idea/
.vscode/
